body {
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


header {
    padding: 40px;
    text-align: center;
    position: sticky;
    top:0;
}

header>img {
    width: 50%;
}

nav img {
    height: 40px;
}

nav {
    background-color: grey;
    margin: 10px;
    padding: 5px;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    
}

nav a:hover{
    background-color: aquamarine;
    color: red;
}

.bi-facebook {
    color: black;
}

.bi-linkedin {
    color: black;
}

.bi-youtube {
    color: black;
}



.par {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    
    
}

li span {
    background-color: red;
    color: white;
}

.fundoAzul {
    background-color: blue;
}




ol {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type:square;
}

footer {
    background-color: grey;
    margin: 10px;
    padding: 5px;
    text-align: center;
    position: sticky;
    bottom: 0;
}
